@import "tailwindcss";
@import "tw-animate-css";

@plugin "tailwind-scrollbar";

@theme {
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 960px;
  --breakpoint-xl: 1280px;

  --color-primary: #d1411e;
  --color-secondary: #ffa323;
  --color-tertiary: #331812;
  --color-black: #231714;
  --color-orange: #ff7a30;

  --background-image-pattern: url("/pattern.png");

  --background-size-200: 200% 200%;
  --background-position-0: 0% 0%;
  --background-position-100: 100% 100%;

  --font-primary: "Bangers", sans-serif;
  --font-secondary: "Quicksand", sans-serif;
  --font-tertiary: "Roboto Condensed", sans-serif;

  --container-padding: 1rem;
}

body {
  @apply font-secondary text-black;
}

.container {
  @apply mx-auto max-w-320 h-full;
}

.btn {
  @apply rounded-lg font-semibold cursor-pointer hover:scale-105 transition-all duration-300;
}

.btn-sm {
  @apply py-3 px-5 text-sm;
}

.btn-lg {
  @apply py-4 px-6;
}

.btn-primary {
  @apply bg-primary text-white hover:bg-primary/90;
}

.btn-secondary {
  @apply bg-secondary text-white hover:bg-secondary/90;
}

.input {
  @apply py-4 px-6;
}

.textarea {
  @apply resize-none py-4 px-6;
}

.input,
.textarea {
  @apply outline-1 focus:outline-double focus:outline-orange rounded-lg border font-semibold placeholder:text-[#767676] placeholder:text-[15px] placeholder:font-semibold transition-all duration-100;
}

.gradient {
  @apply bg-gradient-to-r to-primary via-orange from-primary text-white transition-all duration-500;
}
